.article-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.article-heading {
    text-align: center;
    margin-bottom: 20px;
}

.article-content {
    text-align: justify;
}

.article-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-image img {
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto original de la imagen */
    border-radius: 10px; /* Agrega bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra alrededor de la imagen */
}

.article-image {
    text-align: center; /* Centra la imagen dentro del contenedor */
}