<div class="container my-3">
    <section class="article-container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <h3 class="article-heading">¿Qué es el Síndrome de Asperger?</h3>
                <p class="article-content">
                    El <strong>Síndrome de Asperger</strong> forma parte de los trastornos del espectro autista, se caracteriza por problemas en la comunicación social y conductas e intereses restringidos y estereotipados.
                </p>
                <!-- ... Otras secciones del contenido ... -->
                <p class="article-content">
                    <strong>La Organización Mundial de Salud (OMS)</strong> describe el síndrome de Asperger como un trastorno generalizado del desarrollo infantil que está actualmente incluido en la parte más funcional de los trastornos del espectro autista. Se estima que afecta a siete de cada mil niños y niñas en el mundo.
                    <strong>En México, aproximadamente 120 mil personas viven con esta condición</strong>; la mitad de ellas llega a la edad adulta sin diagnóstico.
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <div class="article-image">
                    <img class="img-fluid rounded" src="./assets/asperger1.png" alt="IMAGEN NO DISPONIBLE">
                </div>
            </div>
        </div>
    </section>
</div>